<%- include('header') -%>
<h1>Editar película</h1>
<form action="/peliculas/editar/<%= pelicula.id %>" method='POST'>
<div>
    <label for="">Título</label>
    <input type="text" value='<%= pelicula.title %>' name='titulo'>
</div>
<div>
    <label for="">Premios</label>
    <input type="text" value='<%= pelicula.awards %>'  name='premios'>
</div>
<div>
    <label for="">Duración</label>
    <input type="text" value='<%= pelicula.length %>'  name='duracion'>
</div>
<div>
    <label for="">Rating</label>
    <input type="text" value='<%= pelicula.rating %>' name='rating'>
</div>
<div>
    <label for="">Fecha de estreno</label>
    <input type="date" name='fecha_estreno'>
</div>
<div>
    <label for="">Género</label>
    <select name='genero'> 
        <% for( let i = 0; i < generos.length; i++) {%>
            <% if(generos[i].id == pelicula.genre_id) {%>
        <option value="<%= generos[i].id %>" selected>
            <%= generos[i].name %>
        </option>
        <% } else { %>
            <option value="<%= generos[i].id %>">
                <%= generos[i].name %>
            </option>
        <% } %>
        <% } %>
    </select>
</div>
<button type="submit">Editar</button>
</form>
<%- include('footer') -%>
